$element-padding: 2px;
$normalfont-size: 18px;
$smallfont-size: 14px;
$symbolfont-size: 36px;

$color-metal: #e7ff8f;

// ======== GERNERAL SETTINGS ========

body {
  -webkit-print-color-adjust: exact; // show colors on generated pdf
  font-family: 'Fira Sans', sans-serif;
  font-variant-numeric: tabular-nums;
}

// ======== MIXINS ========

@mixin states {
  &.solid {
    color: black;
  }

  &.liquid {
    color: blue;
  }

  &.gas {
    color: red;
  }

  &.radioactive {
    color: #f69d19;
  }
}

@mixin backgrounds {
  &.nonmetal {
    background-color: $color-metal;
  }

  &.metal {
    background-color: transparent;
  }

  &.metalloid {
    //background: linear-gradient(45deg, white 0%, white 50%, $color-metal 50%, $color-metal 100%); (de)
    background: url('./img/metalloid.png');
    background-size: 100% 100%;
  }
}

// ======== MAIN TABLE ========

.pse {
  border-collapse: collapse;
  font-size: $normalfont-size;
  table-layout: fixed;
  width: 100%;

  // first column and second row is bold
  th {
    font-weight: 700;
  }

  // table cells
  th,
  td {
    border: 0.1mm solid black;
  }

  // empty fields in the first three periods
  td:not([colspan='']) {
    &:empty {
      border: 0;
    }
  }

  // height of all periods
  .period {
    height: 110px;
  }

  // first header
  thead tr:first-child {
    th {
      font-weight: 300;
    }

    .period {
      height: 4em;
      transform: rotate(-90deg) translateX(-12px);
      width: 2em;
    }
  }
}

// ======== PERIOD 8 AND 9 (AND REFERENCES TO THEM) ========

.lanthanide,
.actinide {
  border: 0;
}

.reference {
  font-size: 72px;
  text-align: center;
}

// ======== SINGLE ELEMENT ========

.element {
  position: relative;
  text-align: center;

  // default for all properties
  span {
    font-size: $smallfont-size;
    position: absolute;
  }

  // properties in the center (need colors)
  .symbol,
  .name {
    @include states;

    position: relative;
    top: -8px;
  }

  // properties at the top
  .number,
  .weight {
    top: $element-padding;
  }

  // properties at the left
  .number,
  .melt,
  .boil {
    left: $element-padding;
  }

  // properties at the right
  .weight,
  .density,
  .electronegativity {
    right: $element-padding;
  }

  // properties at the bottom
  .boil,
  .electronegativity {
    bottom: $element-padding;
  }

  // properties one line above the bottom
  .melt,
  .density {
    bottom: $element-padding + $smallfont-size;
  }

  // bolder an bigger symbol
  .symbol {
    font-size: $symbolfont-size;
    font-weight: 700;
  }

  // show the name below the symbol
  .name {
    display: block;
  }

  @include backgrounds;
}

// ======== LEGEND ========

.legend {
  span {
    @include states;
    @include backgrounds;
  }
}

// Fix Rutherfordium
.element.xs .name {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

// ======== DISPLAY SOURCE AND LICENSE IN PDF ========

@media print {
  .rights {
    bottom: 0;
    display: block;
    position: absolute;
    right: 8px;

    a {
      color: black;
      position: absolute;
      right: 125px;
      text-decoration: none;
      top: 0.5em;
    }
  }
}

@media screen {
  .rights {
    display: none;
  }
}
